.About{
    padding: 64px 80px;
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: antiquewhite;
}

.AboutMain{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.aboutImg{
    width: 30%;
    margin: 24px 0;
    box-shadow: 0px 10px 20px 0px #0000001A;
}

.aboutImg>img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    /* border-top-left-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
}

.aboutBox1, .aboutBox2{
    width: 30%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;
    box-shadow: 0px 10px 20px 0px #0000001A;

}
.aboutBox1{
    background-color: black;
    /* border-radius: 20px; */
    color: white;
}

.aboutBox2{
    margin: 24px 0;
    background-color: white;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
}

.aboutHead{
    font-size: 32px;
    font-weight: 600;
}

.aboutText{
    color: rgb(194, 194, 194);
}

.aboutBtn{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-weight: 700;
    text-align: left;
}